    <div ng-controller="BrowseController as ctrl" ng-init="ctrl.initialize()">
        <h4>Product Lines</h4>
        <ul class="nav nav-pills" role="tablist">
            <li ng-repeat="line in ctrl.lines | orderBy:'collectiblesCount':true">
                <a href="" ng-click="ctrl.findByLine(line.abbreviation)">
                    {{line.abbreviation}} ({{line.collectiblesCount}})
                    <span ng-if="!line.collectiblesCount" class="btn btn-danger" ng-click="ctrl.deleteLine(line)">
                        X
                    </span>
                </a>
            </li>
        </ul>

        <h4>Tags</h4>
        <ul class="nav nav-pills" role="tablist">
            <li ng-repeat="tag in ctrl.tags | orderBy:'taggingCount':true">
                <a href="" ng-click="ctrl.findByTag(tag.name)">
                    {{tag.name}} ({{tag.taggingCount}})
                    <span ng-if="!tag.taggingCount" class="btn btn-danger" ng-click="ctrl.deleteTag(tag)">
                        X
                    </span>
                </a>
            </li>
        </ul>

        <p ng-if="ctrl.collectibles.length == 0"><span class="label label-info">No items found</span></p>
        <div class="list-group" ng-if="ctrl.collectibles.length > 0">
            <h4>Found collectibles</h4>
            <div ng-repeat="collectible in ctrl.collectibles" class="list-group-item">
                <p><img ng-src="collectibles/{{collectible.id}}/thumb" /> <strong>{{collectible.verbatim}}</strong>, {{collectible.productLine}}</p>
            </div>
        </div>
    </div>