    <div ng-controller="AdminController as ctrl" ng-init="ctrl.initialize()">

        <h4>Product Lines</h4>
        <ul class="list-group">
            <li class="list-group-item clearfix" ng-repeat="line in ctrl.lines | orderBy:'collectiblesCount':true">
                {{line.code}}
                <span class="label label-default label-pill">
                    {{line.collectiblesCount}}
                </span>
                <span ng-if="!line.collectiblesCount" class="btn btn-danger pull-right" ng-click="ctrl.deleteLine(line)">
                    <i class="glyphicon glyphicon-trash"></i>
                    Delete
                </span>
            </li>
        </ul>

        <h4>Tumblr Images</h4>
        <p>Last update: {{ctrl.tumblrTimestamp | date:"MMM d, y h:mm:ss a"}} </p>
        <a href="" ng-click="ctrl.refreshTumblr()" class="btn btn-primary">Update now</a>

        <h4>Existing Users</h4>
        <ul class="list-group">
            <li ng-repeat="user in ctrl.users" class="list-group-item">
                {{user.username}}
            </li>
        </ul>

        <h4>Create User</h4>
        <form class="form-inline" name="userForm" ng-submit="userForm.$valid && ctrl.saveUser()" novalidate>
            <div class="container-fluid">
                <div class="form-group col-sm-4">
                    <input type="text" class="form-control" placeholder="username"
                           ng-model="ctrl.newUser.username" required class="ng-dirty ng-invalid" />
                </div>
                <div class="form-group col-sm-4">
                    <input type="password" class="form-control" placeholder="password"
                           ng-model="ctrl.newUser.password" required class="ng-dirty ng-invalid" />
                </div>
                <div class="form-group col-sm-4">
                    <button class="btn btn-primary" ng-disabled="!userForm.$valid">
                        <span class="glyphicon glyphicon-ok"></span> Save
                    </button>
                </div>
            </div>
        </form>

    </div>