    <div ng-controller="MyCollectionController as ctrl" ng-init="ctrl.initialize()">

        <form class="form-inline" name="searchForm" novalidate>
            <h4>Filter your collection</h4>
            <div class="container-fluid">
                <div class="form-group col-sm-5">
                    <input type="text" class="form-control" placeholder="Line, e.g. Kenner, TLC, TVC, ..."
                           ng-model="ctrl.filterByLine" ng-change="ctrl.findCollection()" />
                </div>
                <div class="form-group col-sm-5">
                    <input type="text" class="form-control" placeholder="Verbatim, e.g. Han Solo (Hoth Outfit)"
                           ng-model="ctrl.filterByVerbatim" ng-change="ctrl.findCollection()" />
                </div>
                <div class="form-group col-sm-2">
                    <button class="btn btn-default" ng-click="ctrl.initialize()">
                        Reset
                    </button>
                </div>
            </div>
        </form>

        <h4>{{ctrl.username}}'s Collection</h4>

        <p ng-if="!ctrl.collection.ownerships"><span class="label label-warning">You don't have any items marked as owned, yet. Start adding items on the "Browse" page.</span></p>
        <p ng-if="ctrl.collection.ownerships">
            <span class="label label-success"><strong>{{ctrl.collection.size}}</strong> collectibles with a total value of <strong>{{ctrl.collection.value | currency}}</strong></span>
        </p>

        <div class="list-group container-fluid">
            <div ng-repeat="ownership in ctrl.collection.ownerships | orderBy:'id':true" class="list-group-item row">
                <div class="col-sm-2">
                    <img ng-src="collectibles/{{ownership.collectible.id}}/thumb" alt="no image" />
                </div>
                <div class="col-sm-7">
                    <p><strong>{{ownership.collectible.verbatim}}</strong><span ng-if="ownership.collectible.placementNo">, {{ownership.collectible.placementNo}}</span></p>
                    <p>{{ownership.collectible.productLine}}</p>
                </div>
                <div class="col-sm-3">
                    <div ng-if="!ctrl.isSelected(ownership)">
                        <a href="" ng-click="ctrl.selectOwnership(ownership)">
                            <span ng-if="ownership.price">{{ownership.price | currency }}</span>
                            <span ng-if="!ownership.price">add price</span>
                        </a>
                        <span ng-if="ownership.moc" class="badge">MOC</span>
                        <a class="btn btn-danger" href="" ng-click="ctrl.deleteOwnership(ownership.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                    <form ng-if="ctrl.isSelected(ownership)" ng-submit="ctrl.modifyOwnership(ownership)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="price" ng-model="ctrl.selected.price" />
                            <label>
                                <input type="checkbox" class="form-control" ng-model="ctrl.selected.moc" />
                                MOC
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-success"></span> OK
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>