<div class="container">
    <ul class="nav nav-pills" role="tablist">
        <li ng-class="{ active: isActive('/') }"><a href="#/">Home</a></li>
        <li ng-class="{ active: isActive('/browse') }"><a href="#/browse">Browse</a></li>
        <li ng-if="!isAdmin()" ng-class="{ active: isActive('/mycollection') }"><a href="#/mycollection">My Collection</a></li>
        <li ng-if="isAdmin()" ng-class="{ active: isActive('/admin') }"><a href="#/admin">Admin</a></li>
        <li><a href="" ng-click="logout()">Logout</a></li>
    </ul>
</div>