<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Collectibles</title>
</head>
<body>
    <div th:unless="${#lists.isEmpty(collectibles)}">
        <dl th:each="collectible : ${collectibles}">
            <dt><span th:text="${collectible.verbatim}">Verbatim</span></dt>
            <dt><span th:text="${collectible.productLine}">Product Line</span></dt>
            <dt><span th:text="${collectible.tags}">Tags</span></dt>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(collectibles)}">
        <p>List is empty</p>
    </div>

    <h3>Add Collectible</h3>
    <form method="POST">
        Verbatim: <input type="text" name="verbatim"/>
        Product Line: <input type="text" name="productLine"/>
        Tags: <input type="text" name="tags"/>
        <input type="submit"/>
    </form>
</body>
</html>